$primary-font-family: "avenir";

@font-face {
  font-family: "avenir-regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 400;
}

@font-face {
  font-family: "avenir-demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
}

@font-face {
  font-family: "avenir-bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
}
