@use "partials/mixins" as *;
@use "partials/fonts" as *;
@use "partials/_colors" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font-family;
}

.main-nav {
  @include mobile-screen {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  @include tablet-screen {
    background-color: #323232;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding-left: 36px;
    align-content: stretch;
    padding-top: 25px;
  }

  @include desktop-screen {
    background-color: #323232;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 80px;
    padding-top: 28px;
    margin: 0 auto;
  }
}

.logo {
  @include mobile-screen {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    margin: 0 auto;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  position: relative;
  width: 100%;

  &__section {
    text-align: center;
    width: 50%;
    border-bottom: 5px solid transparent;
    padding-bottom: 7px;
  }

  &__section--active:hover {
    border-bottom: 3px solid #ffffff;
  }

  @include tablet-screen {
    justify-content: space-around;
    width: 40%;
    margin-left: 50px;

    &__section {
      width: 35%;
      border-bottom: 5px solid transparent;
    }

    &__section--active:hover {
      border-bottom: 5px solid #ffffff;
    }
  }

  @include desktop-screen {
    justify-content: space-around;
    width: 30%;
    margin-left: 50px;

    &__section {
      width: 30%;
      border-bottom: 5px solid transparent;
    }

    &__section--active:hover {
      border-bottom: 5px solid #ffffff;
    }
  }

  &__links {
    @include subheader-font-mobile;
    color: #e1e1e1;
    text-decoration: none;

    @include tablet-screen {
      @include subheader-font-tablet-desktop;
    }

    @include desktop-screen {
      @include subheader-font-tablet-desktop;
    }
  }
}

//  try

// .navbar__links--active:hover {
//   border-bottom: 5px solid green;
// }

// .navbar__section {
//   text-align: center;
//   width: 50%;
//   border-bottom: 5px solid transparent;
// }

// .navbar__section--active:hover {
//   border-bottom: 5px solid green;
// }

// try

// .bio-section--active::before {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: 5px;
//   width: 0;
//   height: 5px;
//   background-color: #ffffff;
//   z-index: 999;

//   @include tablet-screen {
//     content: "";
//     position: absolute;
//     left: 11%;
//     bottom: -10px;
//     width: 0;
//     height: 7px;
//     background-color: #ffffff;
//     z-index: 999;
//   }

//   @include desktop-screen {
//     position: absolute;
//     left: 12%;
//     bottom: -10px;
//     width: 0;
//     height: 7px;
//     background-color: #ffffff;
//     z-index: 999;
//   }
// }

.bio-section--active:hover {
  color: #e1e1e1;
}

.shows-section--active:hover {
  color: #e1e1e1;
}

.bio-section--active:hover::before {
  width: 100%;
  transform: scale(0.5);
  transform-origin: left;

  @include tablet-screen {
    width: 70%;
    transform: scale(0.5);
    transform-origin: left;
  }

  @include desktop-screen {
    width: 60%;
    transform: scale(0.5);
    transform-origin: left;
  }
}

.shows-section--active::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 0;
  height: 5px;
  background-color: #ffffff;
  z-index: 999;

  @include tablet-screen {
    content: "";
    position: absolute;
    right: 9%;
    bottom: -10px;
    width: 0;
    height: 7px;
    background-color: #ffffff;
    z-index: 999;
  }

  @include desktop-screen {
    content: "";
    position: absolute;
    right: 12%;
    bottom: -10px;
    width: 0;
    height: 7px;
    background-color: #ffffff;
    z-index: 999;
  }
}

.shows-section--active:hover::before {
  width: 100%;
  transform: scale(0.5);
  transform-origin: right;

  @include tablet-screen {
    width: 50%;
    transform: scale(0.5);
    transform-origin: right;
  }

  @include desktop-screen {
    width: 40%;
    transform: scale(0.5);
    transform-origin: right;
  }
}

.hero-image {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url(/assets/images/hero-bio.jpg);
  height: 40vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;

  @include tablet-screen {
    padding-left: 36px;
    height: 60vh;
  }

  @include desktop-screen {
    padding-left: 80px;
    height: 90vh;
  }

  &__text {
    @include page-header-font-mobile;
    color: #ffffff;
  }

  &__text {
    @include tablet-screen {
      @include page-header-font-tablet-desktop;
      color: #ffffff;
    }
  }

  &__text {
    @include desktop-screen {
      @include page-header-font-tablet-desktop;
    }
  }
}

.about {
  @include tablet-screen {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;

  @include tablet-screen {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 48px;
  }

  @include desktop-screen {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 48px;
  }

  &__text {
    @include subheader-font-tablet-desktop;
    padding-bottom: 16px;
  }

  &__text {
    @include tablet-screen {
      @include page-section-header-font-tablet-desktop;
      padding-bottom: 36px;
    }
  }

  &__text {
    @include desktop-screen {
      @include page-section-header-font-tablet-desktop;
      padding-bottom: 36px;
    }
  }
}

.about__img {
  width: 100%;
  height: auto;
  object-fit: cover;

  @include tablet-screen {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
  }

  @include desktop-screen {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 36px;
    height: 70vh;
  }
}

.about-section__sub {
  display: flex;
  flex-direction: column;
  padding-top: 16px;

  @include tablet-screen {
    padding-top: 0;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
  }

  &-text {
    @include subheader-font-mobile;
    padding-bottom: 16px;
  }

  &-text {
    @include tablet-screen {
      @include subheader-font-tablet-desktop;
      padding-left: 36px;
      padding-right: 36px;
    }
  }

  &-text {
    @include desktop-screen {
      @include subheader-font-tablet-desktop;
      padding-left: 80px;
      padding-right: 80px;
      width: 75%;
    }
  }
}

.bio {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;

  @include tablet-screen {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 36px;
  }

  @include desktop-screen {
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 36px;
    padding-top: 32px;
  }

  &__title {
    @include subheader-font-mobile;
    padding-bottom: 16px;
  }

  &__title {
    @include tablet-screen {
      @include subheader-font-tablet-desktop;
      padding-left: 36px;
    }
  }

  &__title {
    @include desktop-screen {
      @include subheader-font-tablet-desktop;
    }
  }

  &__body {
    @include body-font-mobile;
    padding-bottom: 16px;
  }

  &__body {
    @include tablet-screen {
      @include body-font-tablet-desktop;
      margin: 0 16px;
      padding-bottom: 0;
    }
  }

  &__body {
    @include desktop-screen {
      @include body-font-tablet-desktop;
      margin: 0 16px;
      padding-bottom: 0;
    }
  }
}

.bio__container {
  @include tablet-screen {
    display: flex;
  }

  @include tablet-screen {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include desktop-screen {
    display: flex;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  background-color: #fafafa;

  @include tablet-screen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 48px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
  }

  @include desktop-screen {
    padding-left: 80px;
    padding-right: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 36px;
    padding-top: 36px;
  }

  &__header {
    @include page-header-font-mobile;
    padding-bottom: 16px;
  }

  &__header {
    @include tablet-screen {
      @include page-section-header-font-tablet-desktop;
      padding-bottom: 20px;
      padding-left: 16px;
      display: inline-block;
      width: 100%;
    }
  }

  &__header {
    @include desktop-screen {
      @include page-section-header-font-tablet-desktop;
      padding-bottom: 20px;
      padding-left: 16px;
      display: inline-block;
      width: 100%;
    }
  }

  &__section {
    padding-bottom: 16px;
  }

  &__section {
    @include tablet-screen {
      width: 33%;
      height: auto;
      font-size: 0;
      padding: 16px;
    }
  }

  &__section {
    @include desktop-screen {
      width: 33%;
      height: auto;
      font-size: 0;
      padding: 16px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  // &__img {
  //   @include tablet-screen {
  //     // padding: 16px;
  //   }
  // }

  // &__img {
  //   @include desktop-screen {
  //     // padding: 16px;
  //   }
  // }
}

.footer {
  background-color: #323232;

  @include tablet-screen {
    padding: 48px;
    position: relative;
  }

  @include desktop-screen {
    padding: 36px 80px;
    position: relative;
  }
}

.socials__text {
  @include page-header-font-mobile;
  color: #ffffff;
  padding-top: 24px;
  padding-left: 16px;

  @include tablet-screen {
    @include page-section-header-font-tablet-desktop;
    padding-top: 0;
    padding-left: 0;
  }

  @include desktop-screen {
    @include page-section-header-font-tablet-desktop;
  }
}

.socials {
  display: flex;
  flex-direction: column;

  @include tablet-screen {
    flex-direction: row;
    align-items: baseline;
    position: relative;
  }

  @include desktop-screen {
    flex-direction: row;
    align-items: baseline;
    position: relative;
  }
}

.socials__img {
  padding-left: 16px;
  padding-top: 24px;
  display: inline-flex;
  justify-content: space-between;
  width: 45%;

  @include tablet-screen {
    justify-content: space-around;
    width: 25%;
    height: auto;
  }

  @include desktop-screen {
    justify-content: space-around;
    width: 20%;
    height: auto;
  }
}

.contacts {
  padding-left: 16px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;

  @include tablet-screen {
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    height: 28vh;
    padding-top: 48px;
  }

  @include desktop-screen {
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    height: 22vh;
    padding-top: 36px;
    padding-left: 16px;
  }

  &__section {
    padding-bottom: 16px;
  }

  &__info {
    @include footer-font-mobile;
    color: #ffffff;
  }

  &__info {
    @include tablet-screen {
      @include footer-font-tablet-desktop;
    }
  }

  &__info {
    @include desktop-screen {
      @include footer-font-tablet-desktop;
    }
  }
}

.footer-logo {
  padding-left: 16px;
  padding-top: 48px;

  @include tablet-screen {
    padding: 0px;
  }

  &__text {
    @include footer-font-mobile;
    padding-top: 16px;
    color: #ffffff;
  }

  &__text {
    @include tablet-screen {
      @include footer-font-tablet-desktop;
      padding-top: 36px;
    }
  }

  &__text {
    @include desktop-screen {
      @include footer-font-tablet-desktop;
    }
  }
}

.footer-logo__img {
  @include tablet-screen {
    position: absolute;
    top: 75px;
    right: 65px;
  }

  @include desktop-screen {
    position: absolute;
    top: 70px;
    right: 110px;
  }
}
