html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit, "sans-serif";
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "avenir-regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "avenir-demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("opentype");
}
@font-face {
  font-family: "avenir-bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("opentype");
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-nav {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main-nav {
    background-color: #323232;
    height: 5rem;
    display: flex;
    flex-direction: row;
    padding-left: 2.25rem;
    align-content: stretch;
    align-items: baseline;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav {
    background-color: #323232;
    height: 5rem;
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    align-items: stretch;
    align-items: baseline;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    display: block;
    margin: 0 auto;
    padding-top: 0.9375rem;
    display: flex;
    margin: 0 auto;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar {
    height: 100%;
    padding-top: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    height: 100%;
    padding-top: 1.25rem;
  }
}
.navbar__section {
  text-align: center;
  width: 50%;
  border-bottom: 0.3125rem solid transparent;
  padding-bottom: 0.4375rem;
  padding-top: 0.625rem;
}
.navbar__section--active:hover {
  border-bottom: 0.1875rem solid #ffffff;
}
.navbar__links--active:hover {
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar {
    justify-content: space-around;
    width: 40%;
    margin-left: 3.125rem;
  }
  .navbar__section {
    width: 35%;
    border-bottom: 0.3125rem solid transparent;
  }
  .navbar__section--active:hover {
    border-bottom: 0.3125rem solid #ffffff;
  }
  .navbar__links--active:hover {
    color: #ffffff;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    justify-content: space-around;
    width: 30%;
    margin-left: 3.125rem;
  }
  .navbar__section {
    width: 35%;
    border-bottom: 0.3125rem solid transparent;
  }
  .navbar__section--active:hover {
    border-bottom: 0.3125rem solid #ffffff;
  }
  .navbar__links--active:hover {
    color: #ffffff;
  }
}
.navbar__links {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #e1e1e1;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar__links {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__links {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #e1e1e1;
  }
}

.hero-image {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(/assets/images/hero-bio.jpg);
  height: 18vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-image {
    padding-left: 2.25rem;
    padding-right: 0;
    height: 45vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image {
    padding-left: 5rem;
    height: 73vh;
  }
}
.hero-image__text {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-image__text {
    font-family: "avenir-bold";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: #ffffff;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image__text {
    font-family: "avenir-bold";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about {
    padding: 0 2.25rem;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section {
    padding: 3rem 2.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .about-section {
    padding: 3rem 5rem 0;
  }
}
.about-section__text {
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section__text {
    font-family: "avenir-bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about-section__text {
    font-family: "avenir-bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 2.25rem;
  }
}

.about__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__img {
    padding: 0 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    padding: 0 5rem 2.25rem;
    height: 70vh;
  }
}

.about-section__sub {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section__sub {
    padding: 0 2.25rem 2.25rem;
  }
}
.about-section__sub-text {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section__sub-text {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about-section__sub-text {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 0 5rem;
    width: 78%;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio {
    padding: 0 5rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio {
    padding: 2rem 10rem 2.25rem;
  }
}
.bio__title {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__title {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__title {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.bio__body {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__body {
    font-family: "avenir-regular";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin: 0 1rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .bio__body {
    font-family: "avenir-regular";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding-bottom: 0;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__container {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__container {
    padding: 0 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__container {
    display: flex;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 0;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.25rem 5rem;
  }
}
.gallery__header {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__header {
    font-family: "avenir-bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    display: inline-block;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__header {
    font-family: "avenir-bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    display: inline-block;
    width: 100%;
  }
}
.gallery__section {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__section {
    width: 33%;
    height: auto;
    font-size: 0;
    padding: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__section {
    width: 33%;
    height: auto;
    font-size: 0;
    padding: 1rem;
  }
}
.gallery__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .comments {
    background-color: #ffffff;
    padding: 16px 16px;
    margin-bottom: 36px;
  }
  .comments__header {
    font-family: "avenir-bold";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .comments__input {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    display: flex;
    color: #e1e1e1;
    display: flex;
    justify-content: noraml;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .comments__avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
  }
  .comments__info {
    width: 100%;
  }
  .comments__info__input-name {
    height: 36px;
    width: 99%;
    border: 1px solid #e1e1e1;
    outline: none;
    border-radius: 4px;
    resize: none;
  }
  .comments__info__input-comments {
    width: 99%;
    height: 100px;
    border: 1px solid #e1e1e1;
    outline: none;
    border-radius: 4px;
    resize: none;
  }
  .comments ::-moz-placeholder {
    padding: 10px;
  }
  .comments :-ms-input-placeholder {
    padding: 10px;
  }
  .comments ::placeholder {
    padding: 10px;
  }
  .comments__submit-button {
    font-family: "avenir-bold";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    height: 40px;
    width: 100%;
    padding: 5px 32px;
    border-radius: 4px;
    border: none;
    background-color: #323232;
    color: #ffffff;
  }

  .comments-added {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    display: flex;
    padding-top: 16px;
  }
  .comments-added__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .comments-added__body {
    padding-top: 16px;
  }

  .comments-added__date {
    margin-left: auto;
  }

  .comments-added__avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #e1e1e1;
    display: inline-block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .comments {
    background-color: #ffffff;
    padding: 80px 80px;
    margin-bottom: 36px;
  }
  .comments__header {
    font-family: "avenir-bold";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
  .comments__input {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: green;
  }
  .comments__avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 36px;
  }
  .comments__info {
    font-family: "avenir-regular";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .comments__info__input-name {
    height: 48px;
    width: 99%;
    border: 1px solid #e1e1e1;
    outline: none;
    border-radius: 4px;
    resize: none;
  }
  .comments__info__input-comments {
    width: 99%;
    height: 100px;
    border: 1px solid #e1e1e1;
    outline: none;
    border-radius: 4px;
    resize: none;
  }
  .comments ::-moz-placeholder {
    padding: 10px;
  }
  .comments :-ms-input-placeholder {
    padding: 10px;
  }
  .comments ::placeholder {
    padding: 10px;
  }
  .comments__submit-button {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    height: 40px;
    width: 150px;
    margin-left: auto;
    border-radius: 4px;
    border: none;
    background-color: #323232;
    color: red;
  }

  .comments-added {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    display: flex;
    padding-top: 16px;
    padding-left: 36px;
    padding-right: 36px;
  }
  .comments-added__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .comments-added__body {
    padding-top: 16px;
  }

  .comments-added__date {
    margin-left: auto;
  }

  .comments-added__avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #e1e1e1;
    display: inline-block;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    background-color: #ffffff;
    padding: 48px 48px;
    margin-bottom: 36px;
  }
  .comments__header {
    font-family: "avenir-bold";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
  .comments__input {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    display: flex;
    color: #e1e1e1;
    display: flex;
    justify-content: noraml;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 36px;
    padding-right: 36px;
  }
  .comments__avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 36px;
  }
  .comments__info {
    font-family: "avenir-regular";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
  }
  .comments__info__input-name {
    height: 48px;
    width: 99%;
    border: 1px solid #e1e1e1;
    outline: none;
    border-radius: 4px;
    resize: none;
  }
  .comments__info__input-comments {
    width: 99%;
    height: 100px;
    border: 1px solid #e1e1e1;
    outline: none;
    border-radius: 4px;
    resize: none;
  }
  .comments ::-moz-placeholder {
    padding: 10px;
  }
  .comments :-ms-input-placeholder {
    padding: 10px;
  }
  .comments ::placeholder {
    padding: 10px;
  }
  .comments__submit-button {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    height: 40px;
    width: 150px;
    margin-left: auto;
    border-radius: 4px;
    border: none;
    background-color: #323232;
    color: red;
  }

  .comments-added {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    display: flex;
    padding-top: 16px;
    padding-left: 36px;
    padding-right: 36px;
  }
  .comments-added__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .comments-added__body {
    padding-top: 16px;
  }

  .comments-added__date {
    margin-left: auto;
  }

  .comments-added__avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #e1e1e1;
    display: inline-block;
  }
}
.footer {
  background-color: #323232;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 3rem;
    position: relative;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 2.25rem 5rem;
    position: relative;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__reposition {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__reposition {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .footer__reposition {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__reposition__img {
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__reposition__img {
    padding-right: 2.25rem;
  }
}

.socials__text {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding-top: 1.5rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .socials__text {
    font-family: "avenir-bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .socials__text {
    font-family: "avenir-bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

.socials {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .socials {
    flex-direction: row;
    align-items: baseline;
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .socials {
    flex-direction: row;
    align-items: baseline;
    position: relative;
    width: 100%;
  }
}

.socials__img {
  padding-left: 1rem;
  padding-top: 1.5rem;
  display: inline-flex;
  justify-content: space-between;
  width: 45%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .socials__img {
    justify-content: space-around;
    width: 25%;
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  .socials__img {
    justify-content: space-around;
    width: 20%;
    height: auto;
  }
}

.contacts {
  padding-left: 1rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    height: 15vh;
    padding-top: 3rem;
  }
  .contacts__grouping {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    height: 15vh;
    padding-top: 2.25rem;
    padding-left: 1rem;
    max-width: 60%;
  }
  .contacts__grouping {
    flex-wrap: nowrap;
  }
}
.contacts__section {
  padding-bottom: 1rem;
}
.contacts__info {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #e1e1e1;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__info {
    font-family: "avenir-regular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__info {
    font-family: "avenir-regular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #e1e1e1;
  }
}
.contacts__info--active {
  color: #ffffff;
}

.footer-logo {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-logo {
    padding: 0rem;
  }
}
.footer-logo__img {
  padding-top: 3rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-logo__img {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo__img {
    display: none;
  }
}
.footer-logo__text {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 1rem 0;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-logo__text {
    font-family: "avenir-regular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo__text {
    font-family: "avenir-regular";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding-top: 3rem;
  }
}/*# sourceMappingURL=bio.css.map */