html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit, "sans-serif";
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("opentype");
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("opentype");
}
.hero-image {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(/assets/images/hero-bio.jpg);
  height: 30vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-image {
    padding-left: 2.25rem;
    padding-right: 0;
    height: 75vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image {
    padding-left: 5rem;
    height: 95vh;
  }
}
.hero-image__text {
  font-family: "avenir";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-image__text {
    font-family: "avenir";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: #ffffff;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image__text {
    font-family: "avenir";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about {
    padding: 0 2.25rem;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section {
    padding: 3rem 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .about-section {
    padding: 3rem 5rem 0;
  }
}
.about-section__text {
  font-family: "avenir";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section__text {
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about-section__text {
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 2.25rem;
  }
}

.about__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__img {
    padding: 0 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    padding: 0 5rem 2.25rem;
    height: 70vh;
  }
}

.about-section__sub {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section__sub {
    padding: 0 2.25rem 2.25rem;
  }
}
.about-section__sub-text {
  font-family: "avenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section__sub-text {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about-section__sub-text {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 0 5rem;
    width: 78%;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio {
    padding: 0 5rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio {
    padding: 2rem 10rem 2.25rem;
  }
}
.bio__title {
  font-family: "avenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__title {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__title {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.bio__body {
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__body {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin: 0 1rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .bio__body {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding-bottom: 0;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__container {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__container {
    padding: 0 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__container {
    display: flex;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 0;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.25rem 5rem;
  }
}
.gallery__header {
  font-family: "avenir";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__header {
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    display: inline-block;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__header {
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    display: inline-block;
    width: 100%;
  }
}
.gallery__section {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__section {
    width: 33%;
    height: auto;
    font-size: 0;
    padding: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__section {
    width: 33%;
    height: auto;
    font-size: 0;
    padding: 1rem;
  }
}
.gallery__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .comments {
    background-color: #ffffff;
    padding: 1rem 1rem;
  }
  .comments__div {
    display: flex;
    width: 100%;
  }
  .comments__header {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .comments__input {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    display: flex;
    color: #afafaf;
    display: flex;
    border-bottom: 0.0625rem solid #e1e1e1;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .comments__avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    margin-right: 1.25rem;
    margin-top: 1.6875rem;
  }
  .comments__info {
    width: 100%;
  }
  .comments__info__input-name {
    height: 2.25rem;
    width: 99%;
    border: 0.0625rem solid #e1e1e1;
    outline: none;
    border-radius: 0.25rem;
    resize: none;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    background-color: #fafafa;
    border-color: #e1e1e1;
  }
  .comments__info__input-name:focus {
    border-color: #323232;
  }
  .comments ::-moz-placeholder {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    color: #323232;
    padding: 0.625rem;
  }
  .comments :-ms-input-placeholder {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    color: #323232;
    padding: 0.625rem;
  }
  .comments ::placeholder {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    color: #323232;
    padding: 0.625rem;
  }
  .comments__info__input-comments {
    width: 99%;
    height: 6.25rem;
    border: 0.0625rem solid #e1e1e1;
    outline: none;
    border-radius: 0.25rem;
    resize: none;
    margin-top: 0.25rem;
    background-color: #fafafa;
    border-color: #e1e1e1;
  }
  .comments__info__input-comments:focus {
    border-color: #323232;
  }
  .comments__submit-button {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    padding: 1.5625rem 2rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #323232;
    color: #ffffff;
    margin: 1rem 0;
  }

  .comments-added {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }
  .comments-added__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.0625rem solid #e1e1e1;
    padding-top: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .comments-added__body {
    padding-left: 3.5rem;
    padding-bottom: 1rem;
  }
  .comments-added__date {
    margin-left: auto;
    color: #afafaf;
  }

  .comments-added__avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    margin-right: 1.25rem;
    background-color: #e1e1e1;
    display: inline-block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .comments {
    background-color: #ffffff;
    padding: 5rem 5rem 2.25rem 5rem;
  }
  .comments__div {
    display: flex;
    width: 100%;
    padding-top: 2.25rem;
    height: 4.375rem;
  }
  .comments__header {
    font-family: "avenir";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
  .comments__input {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    color: #afafaf;
    display: flex;
    justify-content: noraml;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .comments__avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 1.25rem;
    margin-top: 1.375rem;
  }
  .comments__info {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .comments__info__input-name {
    height: 3rem;
    width: 99%;
    border: 0.0625rem solid #e1e1e1;
    outline: none;
    border-radius: 0.25rem;
    resize: none;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    background-color: #fafafa;
  }
  .comments__info__input-name:focus {
    border-color: #323232;
  }
  .comments__info__input-name-header {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #afafaf;
  }
  .comments__info__input-comments {
    width: 99%;
    height: 6.25rem;
    border: 0.0625rem solid #e1e1e1;
    outline: none;
    border-radius: 0.25rem;
    resize: none;
    margin-top: 0.25rem;
    background-color: #fafafa;
  }
  .comments__info__input-comments:focus {
    border-color: #323232;
  }
  .comments ::-moz-placeholder {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding: 0.625rem;
    color: #323232;
  }
  .comments :-ms-input-placeholder {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding: 0.625rem;
    color: #323232;
  }
  .comments ::placeholder {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding: 0.625rem;
    color: #323232;
  }
  .comments__submit-button {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 2.5rem;
    margin-left: auto;
    border-radius: 0.25rem;
    border: none;
    background-color: #323232;
    color: #ffffff;
    margin-top: 1rem;
    padding: 0 2rem;
  }
  .comments__submit-button:hover {
    cursor: pointer;
    background-color: #000000;
  }

  .comments-added {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    border-bottom: 0.0625rem solid #e1e1e1;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .comments-added__section {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    border-top: 0.0625rem solid #e1e1e1;
    padding-bottom: 1rem;
  }
  .comments-added__body {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding-left: 4.1875rem;
  }

  .comments-added__date {
    margin-left: auto;
    color: #afafaf;
  }

  .comments-added__avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 1.25rem;
    background-color: #e1e1e1;
    display: inline-block;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    background-color: #ffffff;
    padding: 2.25rem 5rem;
  }
  .comments__div {
    display: flex;
    width: 100%;
    padding-top: 2.25rem;
    height: 4.375rem;
  }
  .comments__header {
    font-family: "avenir";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
  .comments__input {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    display: flex;
    color: #afafaf;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .comments__avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 1.25rem;
    margin-top: 1rem;
  }
  .comments__info {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .comments__info__input-name-header {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: silver;
  }
  .comments__info__input-name {
    height: 3rem;
    width: 99%;
    border: 0.0625rem solid #e1e1e1;
    outline: none;
    border-radius: 0.25rem;
    resize: none;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    background-color: #fafafa;
  }
  .comments__info__input-name:focus {
    border-color: #323232;
  }
  .comments__info__input-comments {
    width: 99%;
    height: 6.25rem;
    border: 0.0625rem solid #e1e1e1;
    outline: none;
    border-radius: 0.25rem;
    resize: none;
    margin-top: 0.25rem;
    background-color: #fafafa;
  }
  .comments__info__input-comments:focus {
    border-color: #323232;
  }
  .comments ::-moz-placeholder {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #323232;
    padding: 0.625rem;
  }
  .comments :-ms-input-placeholder {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #323232;
    padding: 0.625rem;
  }
  .comments ::placeholder {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #323232;
    padding: 0.625rem;
  }
  .comments__submit-button {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: auto;
    height: 2.5rem;
    margin-top: 1rem;
    margin-left: auto;
    border-radius: 0.25rem;
    border: none;
    background-color: #323232;
    color: #ffffff;
    padding: 0 2rem;
  }
  .comments__submit-button:hover {
    cursor: pointer;
    background-color: #000000;
  }

  .comments-added {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 36px;
    padding-right: 36px;
    width: 60%;
    margin: auto;
  }
  .comments-added__section {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 16px;
  }
  .comments-added__body {
    padding-left: 67px;
  }

  .comments-added__date {
    margin-left: auto;
    color: #afafaf;
  }

  .comments-added__avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #e1e1e1;
    display: inline-block;
  }
}/*# sourceMappingURL=bio.css.map */