@use "partials/mixins" as *;
@use "partials/fonts" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font-family;
}

$mobile-size: 767px;
$primary-font: Avenir;

.main-nav {
  @include mobile-screen {
    background-color: #323232;
    min-width: 320px;
    max-width: 767px;
    height: 80px;
    display: flex;
    flex-direction: column;
  }
}

.logo {
  @include mobile-screen {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    margin: 0 auto;
  }
}

.navbar {
  font-family: $primary-font-family;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hero-image {
  background-image: url(/assets/images/hero-bio.jpg);
  height: 25vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;

  &__text {
    @include page-header-font;
    color: #ffffff;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;

  &__text {
    @include page-header-font;
    padding-bottom: 16px;
  }
}

.about__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about-section__sub {
  display: flex;
  flex-direction: column;
  padding-top: 16px;

  &-text {
    @include subheader-font;
    padding-bottom: 16px;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;

  &__title {
    @include subheader-font;
    padding-bottom: 16px;
  }

  &__body {
    @include body-font;
    padding-bottom: 16px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;

  &__header {
    @include page-header-font;
    padding-bottom: 16px;
  }

  &__section {
    padding-bottom: 16px;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.footer {
  background-color: #323232;
}

.socials__text {
  @include page-header-font;
  color: #ffffff;
  padding-top: 24px;
  padding-left: 16px;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials__img {
  padding-left: 16px;
  padding-top: 24px;
  display: inline-flex;
  justify-content: space-between;
  width: 45%;
}

.contacts {
  @include footer-font;
  padding-left: 16px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;

  &__info {
    padding-bottom: 16px;
    color: #ffffff;
  }
}
