@font-face {
  font-family: "avenir-regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "avenir-demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "avenir-bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "avenir";
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-nav {
    background-color: #323232;
    min-width: 320px;
    max-width: 767px;
    height: 80px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main-nav {
    background-color: #323232;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav {
    background-color: #323232;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 36px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    margin: 0 auto;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar {
    justify-content: space-around;
    width: 40%;
    margin-left: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    justify-content: space-around;
    width: 30%;
    margin-left: 50px;
  }
}
.navbar__links {
  font-family: "avenir-demi";
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar__links {
    font-family: "avenir-bold";
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.navbar .navbar__links--active:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 0px;
  bottom: 0px;
}
.navbar .navbar__links--active:hover:after {
  width: 100%;
}

.hero-image {
  background-image: url(/assets/images/hero-bio.jpg);
  height: 25vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-image {
    padding-left: 36px;
    height: 50vh;
  }
}
.hero-image__text {
  font-family: "avenir-bold";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-image__text {
    font-family: "avenir-bold";
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 48px;
  }
}
.about-section__text {
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section__text {
    font-family: "avenir-bold";
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding-bottom: 36px;
  }
}

.about__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__img {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
  }
}

.about-section__sub {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section__sub {
    padding-top: 0;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
  }
}
.about-section__sub-text {
  font-family: "avenir-demi";
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-bottom: 16px;
}
.about-section__sub-text {
  font-family: "avenir-bold";
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-left: 36px;
  padding-right: 36px;
}

.bio {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}
.bio__title {
  font-family: "avenir-demi";
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-bottom: 16px;
}
.bio__body {
  font-family: "avenir-demi";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}

.gallery {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  background-color: #fafafa;
}
.gallery__header {
  font-family: "avenir-bold";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 16px;
}
.gallery__section {
  padding-bottom: 16px;
}
.gallery__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #323232;
}

.socials__text {
  font-family: "avenir-bold";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 24px;
  padding-left: 16px;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials__img {
  padding-left: 16px;
  padding-top: 24px;
  display: inline-flex;
  justify-content: space-between;
  width: 45%;
}

.contacts {
  padding-left: 16px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}
.contacts__section {
  padding-bottom: 16px;
}
.contacts__info {
  font-family: "avenir-regular";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer-logo {
  padding-left: 16px;
  padding-top: 48px;
}
.footer-logo__text {
  font-family: "avenir-regular";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 16px;
  color: #ffffff;
}/*# sourceMappingURL=bio.css.map */