@use "partials/reset" as *;
@use "partials/mixins" as *;
@use "partials/fonts" as *;
@use "partials/_colors" as *;

.main-nav {
  @include mobile-screen {
    background-color: $black;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  @include tablet-screen {
    background-color: $black;
    height: 5rem;
    display: flex;
    flex-direction: row;
    padding-left: 2.25rem;
    align-content: stretch;
    align-items: baseline;
  }

  @include desktop-screen {
    background-color: $black;
    height: 5rem;
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    align-items: baseline;
  }
}

.logo {
  @include mobile-screen {
    margin: 0 auto;
    padding-top: 0.9375rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  position: relative;
  width: 100%;

  @include tablet-screen {
    height: 100%;
    padding-top: 1.25rem;
  }

  @include desktop-screen {
    height: 100%;
    padding-top: 1.25rem;
  }

  &__section {
    text-align: center;
    width: 50%;
    border-bottom: 0.3125rem solid transparent;
    padding: 0.625rem 0 0.4375rem 0;
  }

  &__section--active:hover {
    border-bottom: 0.1875rem solid $white;
  }

  @include tablet-screen {
    justify-content: space-around;
    width: 40%;
    margin-left: 3.125rem;

    &__section {
      width: 35%;
      border-bottom: 0.3125rem solid transparent;
    }

    &__section--active:hover {
      border-bottom: 0.3125rem solid $white;
    }
  }

  @include desktop-screen {
    justify-content: space-around;
    width: 30%;
    margin-left: 3.125rem;

    &__section {
      width: 35%;
      border-bottom: 0.3125rem solid transparent;
    }

    &__section--active:hover {
      border-bottom: 0.3125rem solid $white;
    }
  }

  &__links {
    @include subheader-font-mobile;
    color: $mercury;
    text-decoration: none;

    @include tablet-screen {
      @include subheader-font-tablet-desktop;
      color: $mercury;
    }

    @include desktop-screen {
      @include subheader-font-tablet-desktop;
      color: $mercury;
    }
  }
}
.footer {
  padding-left: 1rem;
  background-color: $black;

  @include tablet-screen {
    padding: 3rem 2.25rem 2.25rem;
    position: relative;
  }

  @include desktop-screen {
    padding: 2.25rem 5rem;
    position: relative;
  }

  &__reposition {
    @include tablet-screen {
      display: flex;
    }

    @include desktop-screen {
      display: flex;
    }
  }

  &__reposition__img {
    @include mobile-screen {
      display: none;
    }

    @include tablet-screen {
      padding-right: 1rem;
    }

    @include desktop-screen {
      padding-right: 2.25rem;
    }
  }
}

.socials__text {
  @include page-header-font-mobile;
  color: $white;
  padding-top: 1.5rem;

  @include tablet-screen {
    @include page-section-header-font-tablet-desktop;
  }

  @include desktop-screen {
    @include page-section-header-font-tablet-desktop;
  }
}

.socials {
  display: flex;
  flex-direction: column;

  @include tablet-screen {
    flex-direction: row;
    align-items: baseline;
    position: relative;
    width: 100%;
  }

  @include desktop-screen {
    flex-direction: row;
    align-items: baseline;
    position: relative;
    width: 100%;
  }
}

.socials__img {
  padding-top: 1.5rem;
  display: inline-flex;
  justify-content: space-between;
  width: 45%;
  height: auto;

  @include tablet-screen {
    justify-content: space-around;
    width: 25%;
    height: auto;
  }

  @include desktop-screen {
    justify-content: space-around;
    width: 20%;
    height: auto;
  }
}

.contacts {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.25rem;

  @include tablet-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;

    &__grouping {
      flex-wrap: nowrap;
    }
  }

  @include desktop-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;

    &__grouping {
      flex-wrap: nowrap;
    }
  }

  &__section {
    padding-bottom: 1rem;
  }

  &__info {
    @include footer-font-mobile;
    color: $mercury;
  }

  &__info {
    @include tablet-screen {
      @include footer-font-tablet-desktop;
      color: $mercury;
    }
  }

  &__info {
    @include desktop-screen {
      @include footer-font-tablet-desktop;
      color: $mercury;
    }
  }

  &__info--active {
    color: $white;
  }
}

.footer-logo {
  @include tablet-screen {
  }

  &__img {
    @include tablet-screen {
      display: none;
    }

    @include desktop-screen {
      display: none;
    }
  }

  &__text {
    @include footer-font-mobile;
    padding: 1rem 0;
    color: $white;
  }

  &__text {
    @include tablet-screen {
      @include footer-font-tablet-desktop;
    }
  }

  &__text {
    @include desktop-screen {
      @include footer-font-tablet-desktop;
    }
  }
}
