html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit, "sans-serif";
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("opentype");
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("opentype");
}
@media screen and (max-width: 767px) {
  .main-nav {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main-nav {
    background-color: #323232;
    height: 5rem;
    display: flex;
    flex-direction: row;
    padding-left: 2.25rem;
    align-content: stretch;
    align-items: baseline;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav {
    background-color: #323232;
    height: 5rem;
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    margin: 0 auto;
    padding-top: 0.9375rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar {
    height: 100%;
    padding-top: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    height: 100%;
    padding-top: 1.25rem;
  }
}
.navbar__section {
  text-align: center;
  width: 50%;
  border-bottom: 0.3125rem solid transparent;
  padding: 0.625rem 0 0.4375rem 0;
}
.navbar__section--active:hover {
  border-bottom: 0.1875rem solid #ffffff;
}
.navbar__links--active:hover {
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar {
    justify-content: space-around;
    width: 40%;
    margin-left: 3.125rem;
  }
  .navbar__section {
    width: 35%;
    border-bottom: 0.3125rem solid transparent;
  }
  .navbar__section--active:hover {
    border-bottom: 0.3125rem solid #ffffff;
  }
  .navbar__links--active:hover {
    color: #ffffff;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    justify-content: space-around;
    width: 30%;
    margin-left: 3.125rem;
  }
  .navbar__section {
    width: 35%;
    border-bottom: 0.3125rem solid transparent;
  }
  .navbar__section--active:hover {
    border-bottom: 0.3125rem solid #ffffff;
  }
  .navbar__links--active:hover {
    color: #ffffff;
  }
}
.navbar__links {
  font-family: "avenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #e1e1e1;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar__links {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__links {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #e1e1e1;
  }
}

.footer {
  padding-left: 1rem;
  background-color: #323232;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 3rem 2.25rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 2.25rem 5rem;
    position: relative;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__reposition {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .footer__reposition {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .footer__reposition__img {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__reposition__img {
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__reposition__img {
    padding-right: 2.25rem;
  }
}

.socials__text {
  font-family: "avenir";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .socials__text {
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .socials__text {
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

.socials {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .socials {
    flex-direction: row;
    align-items: baseline;
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .socials {
    flex-direction: row;
    align-items: baseline;
    position: relative;
    width: 100%;
  }
}

.socials__img {
  padding-top: 1.5rem;
  display: inline-flex;
  justify-content: space-between;
  width: 45%;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .socials__img {
    justify-content: space-around;
    width: 25%;
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  .socials__img {
    justify-content: space-around;
    width: 20%;
    height: auto;
  }
}

.contacts {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.25rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
  }
  .contacts__grouping {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
  }
  .contacts__grouping {
    flex-wrap: nowrap;
  }
}
.contacts__section {
  padding-bottom: 1rem;
}
.contacts__info {
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #e1e1e1;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__info {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__info {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #e1e1e1;
  }
}
.contacts__info--active {
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-logo__img {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo__img {
    display: none;
  }
}
.footer-logo__text {
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 1rem 0;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-logo__text {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo__text {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}/*# sourceMappingURL=global.css.map */