html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit, "sans-serif";
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "avenir-regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "avenir-demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("opentype");
}
@font-face {
  font-family: "avenir-bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("opentype");
}
.hero-image-shows {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
  height: 35vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-image-shows {
    padding-left: 2.25rem;
    padding-right: 0;
    height: 45vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image-shows {
    padding-left: 5rem;
    height: 73vh;
  }
}

.hero-image-shows {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-image-shows {
    padding-right: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image-shows {
    align-items: center;
    flex-direction: row;
    padding-right: 80px;
  }
}

.hero-image__text {
  width: 85%;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-image__text {
    width: 80%;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image__text {
    display: flex;
    flex-direction: column;
  }
}

.soundCloud {
  width: 200px;
}

.hero-image__text-header {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 36px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-image__text-header {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-top: 48px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image__text-header {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

.shows {
  font-family: "avenir";
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #e1e1e1;
}
.shows__list__date {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 4px;
  padding-top: 16px;
  color: #afafaf;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__list__date {
    padding: 36px 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list__date {
    padding: 36px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .shows__list__date__text {
    font-family: "avenir-demi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding-bottom: 16px;
  }
}
.shows__list__venue {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #afafaf;
  padding-bottom: 4px;
}
.shows__list__venue__text {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 16px;
}
.shows__list__location {
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #afafaf;
  padding-bottom: 4px;
}
.shows__list__location__text {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows {
    padding-left: 36px;
    padding-right: 36px;
    border-bottom: none;
  }
  .shows__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    align-items: center;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    border-bottom: none;
  }
}
@media screen and (min-width: 1280px) {
  .shows__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    align-items: center;
    width: 80%;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.shows__title {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: "avenir-bold";
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
  padding-top: 36px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.btn {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  width: 100%;
  background-color: #323232;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .btn {
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=shows.css.map */