@use "partials/reset" as *;
@use "partials/mixins" as *;
@use "partials/fonts" as *;
@use "partials/_colors" as *;

.hero-image-shows {
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../assets/images/hero-shows.jpg);
  height: 45vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 0 1rem;

  @include tablet-screen {
    padding: 0 0 0 2.25rem;
    height: 70vh;
  }

  @include desktop-screen {
    padding-left: 5rem;
    height: 85vh;
  }
}

.hero-image-shows {
  display: flex;
  flex-direction: column;

  @include tablet-screen {
    padding-right: 2.25rem;
  }

  @include desktop-screen {
    align-items: center;
    flex-direction: row;
    padding-right: 5rem;
  }
}

.hero-image__text {
  width: 85%;
  margin-bottom: 1rem;

  @include tablet-screen {
    width: 80%;
    margin-right: auto;
  }
  @include desktop-screen {
    display: flex;
    flex-direction: column;
  }
}

.soundCloud {
  width: 12.5rem;
}

.hero-image__text-header {
  @include subheader-font-mobile;
  padding: 2.25rem 0 1.5rem 0;

  @include tablet-screen {
    @include subheader-font-tablet-desktop;
    padding: 3rem 0 1.5rem 0;
  }

  @include desktop-screen {
    @include subheader-font-tablet-desktop;
  }
}

.shows {
  font-family: $primary-font-family;
  padding: 0 1rem;
  border-bottom: 0.0625rem solid $mercury;

  &__list {
    @include tablet-screen {
      width: 9.375rem;
    }

    @include desktop-screen {
      width: 9.375rem;
    }
  }

  &__title {
    @include page-section-header-font-tablet-desktop;
    padding: 2.25rem 0 1rem 1rem;

    @include tablet-screen {
      padding: 4.375rem 0 2.25rem 2.25rem;
    }

    @include desktop-screen {
      padding: 5rem 0 0 5rem;
    }
  }

  &__list__date {
    @include body-font-mobile;
    padding: 1rem 0 0.25rem 0;
    color: $silver;

    @include tablet-screen {
      @include body-font-tablet-desktop;

      &--hidden {
        display: none;
      }
    }

    @include desktop-screen {
      @include body-font-tablet-desktop;
      padding-top: 0;

      &--hidden {
        display: none;
      }
    }

    &__text {
      @include mobile-screen {
        @include subheader-font-mobile;
        padding-bottom: 1rem;
      }

      @include tablet-screen {
        @include body-font-tablet-desktop;
        padding: 2.25rem 0 2.25rem 0;
      }

      @include desktop-screen {
        @include body-font-tablet-desktop;
        padding: 2.25rem 0 2.25rem 0;
      }
    }
  }

  &__list__venue {
    @include body-font-mobile;
    color: $silver;
    padding-bottom: 0.25rem;

    @include tablet-screen {
      @include body-font-tablet-desktop;
      padding-bottom: 2.25rem;

      &--hidden {
        display: none;
      }
    }

    @include desktop-screen {
      @include body-font-tablet-desktop;

      &--hidden {
        display: none;
      }
    }

    &__text {
      @include subheader-font-mobile;
      padding-bottom: 1rem;

      @include tablet-screen {
        @include body-font-tablet-desktop;
        padding-bottom: 2.25rem;
      }

      @include desktop-screen {
        @include body-font-tablet-desktop;
        padding: 2.25rem 0;
      }
    }
  }

  &__list__location {
    @include body-font-mobile;
    color: $silver;
    padding-bottom: 0.25rem;

    @include tablet-screen {
      @include body-font-tablet-desktop;
      padding-bottom: 2.25rem;

      &--hidden {
        display: none;
      }
    }

    @include desktop-screen {
      @include body-font-tablet-desktop;

      &--hidden {
        display: none;
      }
    }

    &__text {
      @include subheader-font-mobile;
      padding-bottom: 1rem;

      @include tablet-screen {
        @include body-font-tablet-desktop;
        padding-bottom: 2.25rem;
      }

      @include desktop-screen {
        @include body-font-tablet-desktop;
        padding: 2.25rem 0;
      }
    }
  }

  @include tablet-screen {
    padding: 0 2.25rem;
    border-bottom: none;

    &__container {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.0625rem solid $mercury;
      align-items: center;
      align-items: flex-end;
    }
  }

  @include desktop-screen {
    border-bottom: none;
  }

  &__container {
    @include desktop-screen {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.0625rem solid $mercury;
      align-items: center;
      width: 80%;
      margin-left: auto;
      padding: 0 1.5rem;

      &:hover {
        background-color: $alabaster;
      }

      &:active {
        background-color: $mercury;
      }
    }
  }

  @include desktop-screen {
    padding: 0 5rem;
  }
}

.btn {
  @include section-header-font-mobile;
  width: 100%;
  background-color: $black;
  color: $white;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;

  @include tablet-screen {
    @include subheader-font-tablet-desktop;
    width: auto;
    padding: 0.5rem 2.25rem;
    margin-bottom: 1.5625rem;

    &:hover {
      cursor: pointer;
      background-color: $drk-black;
    }
  }

  @include desktop-screen {
    width: auto;
    padding: 0.5rem 2.25rem;
    margin-bottom: 0;

    &:hover {
      cursor: pointer;
      background-color: $drk-black;
    }
  }
}
