@use "partials/reset" as *;
@use "partials/mixins" as *;
@use "partials/fonts" as *;
@use "partials/_colors" as *;

.hero-image-shows {
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../assets/images/hero-shows.jpg);
  height: 31vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;

  @include tablet-screen {
    padding-left: 2.25rem;
    padding-right: 0;
    height: 45vh;
  }

  @include desktop-screen {
    padding-left: 5rem;
    height: 73vh;
  }
}

.hero-image-shows {
  display: flex;
  flex-direction: column;

  @include tablet-screen {
    padding-right: 36px;
  }

  @include desktop-screen {
    align-items: center;
  }
}

.hero-image__text {
  width: 85%;
  margin-bottom: 16px;

  @include tablet-screen {
    width: 80%;
  }
  @include desktop-screen {
    // width: 65%;
    display: flex;
    flex-direction: column;
  }
}

.soundCloud {
  width: 200px;
}

.hero-image__text-header {
  @include subheader-font-mobile;
  padding-top: 36px;
  padding-bottom: 24px;

  @include tablet-screen {
    @include subheader-font-tablet-desktop;
    padding-top: 48px;
    padding-bottom: 24px;
  }

  @include desktop-screen {
    @include subheader-font-tablet-desktop;
  }
}

.shows {
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid $mercury;

  @include tablet-screen {
    padding-left: 36px;
    padding-right: 36px;
    border-bottom: none;

    &__container {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $mercury;
      align-items: center;
      align-items: flex-end;
    }
  }

  @include desktop-screen {
    border-bottom: none;
  }

  &__container {
    @include desktop-screen {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $mercury;
      align-items: center;
      width: 80%;
      margin-left: auto;
    }
  }

  @include desktop-screen {
    padding-left: 80px;
    padding-right: 80px;
  }

  &__list__date {
    @include subheader-font-mobile;
    padding-bottom: 16px;

    @include tablet-screen {
      padding: 36px 0;
    }

    @include desktop-screen {
      padding: 36px 0;
    }
  }

  &__list__date-header {
    @include subheader-font-mobile;
    color: $silver;

    @include tablet-screen {
      @include body-font-tablet-desktop;
      color: $silver;
      // padding-bottom: 36px;
    }

    @include desktop-screen {
      color: $silver;
      // padding-bottom: 48px;
    }
  }
}

.shows__title {
  @include page-header-font-mobile;
  @include page-section-header-font-tablet-desktop;
  padding-top: 36px;
  padding-bottom: 36px;
}

.shows__list {
  // background-color: green;
}

.btn {
  @include section-header-font-mobile;
  width: 100%;
  background-color: $black;
  color: $white;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;

  @include tablet-screen {
    @include subheader-font-tablet-desktop;
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 16px;
  }

  @include desktop-screen {
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 0;
  }
}
